<%
  var requestBody = typeof(request.body) == "object" ? JSON.stringify(request.body, undefined, 2) : request.body;
  var responseBody = typeof(response.body) == "object" ? JSON.stringify(response.body, undefined, 2) : response.body;
  responseBody = responseBody.replace(/"(http[^"]*)"/g, '"<a href="$1">$1</a>');
%>
<div class="request block">
  <div class="collapse-expand expand"></div>
  <div class="request-title">
    <b><%= request.method %></b> <%= request.url %><br>
  </div>

  <div class="req-resp">
    <% _.each(request.headers, function(val, key) { %>
      <b><%= key %></b>: <%= val %><br>
    <% }) %>

    <b>Body</b>
<pre><%=  requestBody %></pre>

    <div class="response block req-resp">
      <b>Elapsed Time:</b> <%= elapsedtime %>ms<br>

      <% _.each(response.headers, function(val, key) { %>
        <b><%= key %></b>: <%= val %><br>
      <% }) %>

      <br><b>Body</b>
<pre><%= responseBody %></pre>
    </div>
  </div>
</div>