<div class="request block">
  <b><%= request.method %></b> <%= request.url %><br>

  <% _.each(request.headers, function(val, key) { %>
    <br><b><%= key %></b>: <%= val %>
  <% }) %>

  <br><br><b>Body</b>
<pre><%= request.body %></pre>

  <div class="response block">
    <% _.each(response.headers, function(val, key) { %>
      <b><%= key %></b>: <%= val %><br>
    <% }) %>

  <br><b>Body</b>
<pre><%= JSON.stringify(response.body, undefined, 2) %></pre>
  </div>
</div>
